#Frontend stuiff

# frontend dependencies
frontend/node_modules

# frontend testing
frontend/coverage

#frontend Build output
frontend/build


#Backend stuff

#sqlite db auto generated
test.db

# auto generated cache files
__pycache__

#environment file
env.sh
backend/venv


#Dev tools
frontend/.prettierrc
.vscode