#Frontend stuiff

# frontend dependencies
frontend/node_modules

# frontend testing
frontend/coverage

# misc

#Dev tools
frontend/.prettierrc

#frontend Build output
frontend/build

#Backend stuff

# auto generated cache files
__pycache__