@import '../../../styles/variables.scss';

.item {
  .remove {
    cursor: pointer;
    position: absolute;
    top: 1px;
    right: 1px;
  }

  height: 200px;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  grid-gap: 20px;
  padding: $card-padding;
  .title {
    font-size: 14px;
    grid-column-start: 2;
  }
  .product-picture {
    grid-row-start: 1;
    grid-column-start: 1;
    height: 150px;
    width: 150px;
  }
  .footer {
    display: flex;
    position: absolute;
    bottom: 1px;
    right: 1px;
    input {
      float: right;
      width: 75px;
      margin-top: 3px;
      margin-right: 10px;
    }
    .add-item {
      width: 75px;
    }

    .total {
      font-weight: bold;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
