.order-project {
  min-width: 100%;
  position: relative;
  top: 25px;
  .total {
    font-size: 1.5em;
    text-align: left;
    margin-left: 50px;
  }
  .action {
    font-size: 0.75em;
  }
  .purchase {
    margin-right: 20px;
  }
  .item-count {
    margin-right: 10px;
  }
  .save {
    margin-right: 5px;
  }
  .save-complete {
    color: green;
    font-size: 1.25em;
    margin-left: 30px;
  }
  .coming-soon {
    color: red;
    margin-left: 30px;
    font-size: 0.75em;
    display: inline;
  }
}
