@import '../../../styles/variables.scss';

.cart {
  height: auto;
  min-height: 100%;
  background-color: white;
  .header-container {
    background-color: #f1f2f4;
    height: 75px;
    .header {
      padding: $card-padding;
    }
  }
}
