@import '../../../styles/variables.scss';

.infotron {
  padding: 0;

  .pad {
    padding: $material-padding;
    margin-bottom: 20px;
  }
  height: 250px;
  margin-bottom: 4px;
  background-color: white;
  border-bottom: 2px solid $takeoffs-blue;
  box-shadow: 0 4px 2px -2px gray;
  border-radius: 0px !important;

  .project-name {
    padding-top: 30px;
    display: flex;
  }

  .prev-arrow {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: gray;
  }

  .padless {
    padding: 0 !important;
    .nav-item {
      margin-left: 120px;
    }
  }
}
